
@model Store.Web.ViewModels.RegisterPositonViewModel
@{
    ViewBag.Title = "Register Position";
}
<h2>Register Publisher</h2>

@using (Html.BeginForm("Registerposition", "Position", FormMethod.Post))
{

    <div class="form-group">
        <label>Position Title</label>
        <br />
        @Html.TextBoxFor(m => m.PositionTitle)
        @Html.ValidationMessageFor(m => m.PositionTitle, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniquePosition", new { @class = "attribute-error" })



    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>
