
@model Store.Web.ViewModels.RegisterLanguageViewModel
@{
    ViewBag.Title = "Register Language";
}
<h2>Register Language</h2>

@using (Html.BeginForm("RegisterLanguage", "Language", FormMethod.Post))
{

    <div class="form-group">
        <label>Language</label>
        <br />
        @Html.TextBoxFor(m => m.Language)
        @Html.ValidationMessageFor(m => m.Language, null, new { @class = "attribute-error" })
        @Html.ValidationMessage("UniqueLanguage", new { @class = "attribute-error" })


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}


<style>
    .error-summary {
        color: red;
    }

    .attribute-error {
        display: block;
        color: red;
    }
</style>
