
@model List<Store.Model.Models.Languages>
@{
    ViewBag.Title = "Search List";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>

       
        @if(Model.Count() == 0)
            {
                <h1>no results</h1>
            }
        else {
        foreach (var language in Model)
        {
            <tr>
                <td>@language.ID</td>
                <td>@language.Language</td>
                <td><a href="http://localhost:3523/Language/View/@language.ID" class="btn btn-primary">View</a></td>


            </tr>
        }
        }
    </tbody>
</table>